<ion-header>
  <ion-toolbar color="primary">
    <ion-title>About Assistrip</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<div>
		<p style="margin: 0 auto; width: 80%;"><strong style="color: #444;">Assistrip</strong> is a free and simple utility app designed to assist you in your trips.</p>

		<img width="200" height="200" src="assets/images/logo.svg">

		<p>Developed by</p>
		<h1>Kenny Almendral</h1>

		<ul>
			<li><a href="https://play.google.com/store/apps/details?id=io.github.kennyalmendral.assistrip">Rate app</a></li>
			<li><a href="mailto:kennyalmendral@gmail.com">Send feedback</a></li>
			<li><a href="javascript:;" (click)="share()">Share</a></li>
		</ul>

		<p style="font-size: 0.8rem !important; color: #aaa; margin-top: 10px;">&copy; <span>{{ year }}</span> Assistrip. All rights reserved.</p>
	</div>
</ion-content>
